<h1>URL Shortener</h1>

<form action="/" method="POST">
  <input type="url" name="originalUrl" placeholder="Input URL here" value="{{originalUrl}}" required>
  <button type="submit">Shorten</button>
</form>

{{#if shortenedUrl}}
  <a href="{{shortenedUrl}}">{{shortenedUrl}}</a>
{{/if}}